{% extends 'base.html' %}

{% block content %}

<div class="container">
<h1>Dashboard</h1>

<h1>Welcome, {{first_name}}</h1>
</div>






<br/>

<div class="overflow-scroll" style="max-height: 300px;">
{% for form in form_list %}
    <div class="container">
        <form method="post" class="row g-3">
            {%csrf_token%}
            <div class="col-auto">
                {{form.first_name}}
            </div>
            <div class="col-auto">
                {{form.last_name}}
            </div>
            
            <div class="col-auto">
                {{form.email}}
            </div>
            <div class="col-auto">
                {{form.contact_num}}
            </div>
            
            <div class="col-auto">
                {{form.id}}
            </div>
            
            <div class="col-auto">
                <button method="POST" type="submit" name="edit_lead" class="btn btn-primary mb-3">Edit</button>
              </div>
              <div class="col-auto">
                <button method="POST" type="submit" name="delete_lead" class="btn btn-danger mb-3">Delete</button>
              </div>

        </form>
    </div>
{% endfor %}
</div>

<br/>
<br/>

        

    
<div class="container-fluid">
<form method="POST" class="row g-3">
    {{form.errors}}
    {% csrf_token %}
    {% for field in lead_form.first_name %}
    <div class="col-auto">
      <label for="id_first_name" class="visually-hidden">First Name</label>
      <input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="First Name">
    </div>
    {% endfor %}
    {% for field in lead_form.last_name %}
    <div class="col-auto">
      <label for="id_last_name" class="visually-hidden">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Last Name">
    </div>
    {% endfor %}
    {% for field in lead_form.email %}
    <div class="col-auto">
      <label for="id_email" class="visually-hidden">Email</label>
      <input type="text" class="form-control" name="email" id="id_email" placeholder="Email">
    </div>
    {% endfor %}
    {% for field in lead_form.contact_num %}
    <div class="col-auto">
      <label for="id_contact_num" class="visually-hidden">Contact #</label>
      <input type="text" class="form-control" name="contact_num" id="id_contact_num" placeholder="Contact Number">
    </div>
    {% endfor %}
    {% for field in lead_form.contact_num %}
    <div class="col-auto">
      <label for="id_status" class="visually-hidden">Status</label>
      <input type="text" class="form-control" name="status" id="id_status" placeholder="Status">
    </div>
    {% endfor %}

    <div class="col-auto">
      <button method="POST" type="submit" class="btn btn-success mb-3" name="new_lead">New Lead</button>
    </div>
  </form>
</div>
{% endblock %}